.firstStepScreening .symptom {
  margin-left: 1rem;
}
.symptoms {
  text-align: right;
  width: max-content;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.firstStepScreening button[type="submit"] {
  margin-top: 1rem;
}
