.contacts {
  padding-top: 0.5rem;
}

.contacts .fab {
  font-size: 1.6rem;
  padding: 0 1.2rem;
  text-decoration: none;
  color: black;
}
.footer {
  position: relative;
  max-width: 100%;
  font-size: 0.7rem;
}
