.navBar {
  width: 100vw;
  display: flex;
  margin: 0;
  padding: 1.5rem;
}

.navBar .navItem .link-nav {
  text-decoration: none;
  color: black;
  margin-right: 2rem;
  font-size: 1.3em;
  text-decoration: none;
  padding-right: 1rem;
}
.navBar .navItem {
  font-weight: 600;
}
