.navBar {
  min-width: 100%;
  max-width: 100%;
  display: flex;
  margin: 0;
  padding: 1.5rem 0;
  justify-content: space-between;
  font-size: 0.8rem;
}
.navBar .navBarMenu {
  text-decoration: none;
  display: flex;
}
.navBar .navBarAuth {
  text-decoration: none;
  display: flex;
}

.navBar .navItem .link-nav {
  text-decoration: none;
  color: black;
  margin-right: 2rem;
  font-size: 1.3em;
  text-decoration: none;
  padding-right: 1rem;
  cursor: pointer;
}
.navBar .navItem {
  font-weight: 600;
}
.avatar {
  margin-right: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url("/defaultAvatar.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
