.secondStepScreeming .formGroup {
  width: fit-content;
  text-align: left;
  margin: 0 auto;
}
.secondStepScreeming .formGroup button {
  text-align: center;
}

.secondStepScreeming .formItem label {
  margin-right: 20px;
}

#age {
  width: 4rem;
}
#genders {
  margin-right: 1rem;
}
#conditions {
  margin-top: 1rem;
}
