@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

.App {
  font-family: sans-serif;
  text-align: center;
  min-width: 100vw;
  min-height: 100vh;
  background-image: url("/background.jpg");
  background-clip: padding-box;
  background-size: cover;
  background-position: center;
  margin: 0;
  color: rgba(0, 0, 0, 0.692);
  font-family: "Open Sans", sans-serif;
  /*font-size: 1.8rem;*/
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .App {
    font-size: 12px;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .App {
    font-size: 14px;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .App {
    font-size: 16px;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .App {
    font-size: 18px;
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  position: absolute;
}

ul {
  list-style: none;
}

.card {
  width: fit-content;
  text-align: center;
  margin: 0 auto;
  margin-top: 7%;
  padding: 3rem;
  max-width: 60vw;
  min-width: 60vw;
  min-height: 50vh;
  backdrop-filter: blur(20px) brightness(120%);
  box-shadow: 1rem 1rem 3rem rgba(255, 255, 255, 0.562);
  border-radius: 0.8rem;
}

button,
.link {
  border: none;
  border-radius: 1rem;
  padding: 0.4rem 0.7rem;
  width: 10rem;
  font-family: "Open Sans", sans-serif;
  color: rgba(0, 0, 0, 0.842);
  font-size: 1rem;
  outline: none;
  cursor: pointer;
}

button:hover,
.link:hover {
  transition: opacity ease-out 0.12s 0s;
  opacity: 60%;
}

.link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.842);
}

.fa-clipboard-list {
  font-size: 2rem;
  margin-right: 1rem;
}

.formItem {
  padding: 1rem;
}

input[type="checkbox"] {
  width: 2rem;
  height: 1.1rem;
}

.contact:hover,
.navItem:hover {
  transition: opacity 0.3s ease-in 0s;
  opacity: 0.6;
}

select {
  border: none;
  outline: none;
  border-radius: 0.1rem;
  background: whitesmoke;
  padding: 0.2rem;
}
